<div id="chart">
    <canvas id="myChart" width="300" height="300"></canvas>
</div>
<div id="object-div" >
    <table border=1>
        <thead>
            <th>#</th>
            <th>nome</th>
        </thead>
        <tbody id="ap-test"></tbody>
    </table>
</div>
<script>gen_chart()</script>